<div class="center hero-unit">
  <h1>Welcome to NEXELIS.IO</h1>

  <h2>
    This is the future enterprise logic app that will transform the process of coopertive production.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<center><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %></center>
